
/* agrego margin 0 a figure para pisar el margin de bootstrap */
figure {
    margin: 0 0 0;
}


/* css de la página CABAÑAS, antes de aplicar bootstrap

.cabaña {
    display: flex;
    justify-content: center;
    padding: 80px 6.4vw 80px 6.4vw;
    gap:3px;
}

.cabaña__cuerpo {
    margin: 0 10px; 
    padding: 0 10px;
}

.cabaña__img {
    border-radius: 2px;
    margin: 15px 0 50px 0;;
}

.cabaña__titulo {
    font-style: italic;
    font-family: 'EB Garamond', serif;
    letter-spacing: +0.01em;
    font-size: 25px;
    font-weight: 100;
    color: #757575;
    margin-bottom: 20px;
}

.cabaña__desc {
    letter-spacing: +0.03em;
    font-size: 16px;
    color: #757575;
    margin-bottom: 50px;
}
*/

/* css de la página ubicación y contacto*/



@media screen and (max-width: 800px) {

    /* css de la página cabañas sin bootstrap

    #intro_cabañas {
        padding: 0vw 0vw;
    }

    .cabaña {
        display: flex;
        flex-direction: column;
        gap: 15px;
    } */

    /* css de página servicios */

    /* css de la página UBICACIÓN Y CONTACTO*/

   /* css de la página UBICACIÓN Y CONTACTO sin bootstrap

    #ubicacionycontacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 10vh 6.4vw 10vh 6.4vw;
        gap: 20px;
    }

    .uyc__box__ubicacion {
        width: 500px;
    }

    .uyc__box__contacto {
        width: 500px;
    }

    .uyc__img__ubicacion {
        width: 450px;
    }
    */
    
}

@media screen and (max-width: 540px) {


    /* css de la página UBICACIÓN Y CONTACTO sin bootstrap

    #ubicacionycontacto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin: 10vh 6.4vw 10vh 6.4vw;
        gap: 20px;
    }
    

    .uyc__box__ubicacion {
        width: 300px;
    }

    .uyc__box__contacto {
        width: 300px;
    }

    .uyc__img__ubicacion {
        width: 250px;
    }
    */
    }

    