@charset "UTF-8";
/*misc*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

img {
  width: 100%; }

figure {
  margin: 0 0 0; }

/*partials*/
/* css del main menu común a todas las páginas */
.header {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  opacity: 0.9;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-color: #7F7A6C;
  padding: 0px 6.4vw; }
  .header .menu {
    list-style: none;
    display: flex;
    gap: 35px; }
    .header .menu .menu__lista :hover {
      border-bottom: 0.5px solid;
      border-color: #7F7A6C; }
    .header .menu .menu__lista a {
      color: black;
      font-size: 13px;
      text-decoration: none;
      padding: 4px 0px; }
    .header .menu .menu__lista--underlined {
      border-bottom: 0.5px solid;
      border-color: #7F7A6C; }

@media screen and (max-width: 815px) {
  .header {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px; }
    .header .menu {
      gap: 15px; } }

@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px; } }

/* secciones de intro para todas las páginas*/
.intro__titulo {
  letter-spacing: +0.04em;
  font-size: 22px;
  margin: 0vh 0vw 5vh 0vw;
  padding: 20vh 8vw;
  text-align: center;
  background-color: #F7F4F3;
  opacity: 0.8; }

#intro__servicios {
  padding: 15vw 15vw;
  background-image: url(../img/fotolago4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  height: 100vh;
  opacity: 0.5; }

#intro__cabañas {
  padding: 15vw 15vw;
  background-image: url(../img/fotolago1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  background-size: 100%;
  opacity: 0.5; }

@media screen and (max-width: 800px) {
  #intro__cabañas {
    background-attachment: local;
    height: 50vh; }
  #intro__servicios {
    background-attachment: local;
    height: 50vh; } }

@media screen and (max-width: 500px) {
  #intro__cabañas {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 35vh; }
  #intro__servicios {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 35vh; } }

/*footer para todas las paginas*/
.footer {
  background-color: #333333;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px; }
  .footer .footer__texto a {
    text-decoration: none;
    color: white; }

@media screen and (max-width: 800px) {
  .footer {
    padding: 15px 15vw;
    text-align: center; } }

@media screen and (max-width: 540px) {
  .footer__index {
    padding: 15px 15vw; } }

/*pages*/
#boxfoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; }
  #boxfoto .boxfoto__img {
    height: 100vh; }
  #boxfoto .boxfoto__form {
    display: flex;
    justify-content: center;
    background-color: #333333;
    color: white;
    box-sizing: content-box;
    align-items: center;
    padding: 10px 30px 10px 30px;
    gap: 20px; }
    #boxfoto .boxfoto__form .form__fecha {
      color: grey;
      font-size: 12px;
      font-weight: 300;
      margin-bottom: 0px; }
    #boxfoto .boxfoto__form .form__input {
      color: grey;
      font-size: 12px;
      width: 170px;
      border: none;
      padding: 0px 8px 0px 0px;
      font-weight: 300;
      background: none;
      border-bottom: 1px solid; }
    #boxfoto .boxfoto__form .form__input--black {
      color: #333333; }
    #boxfoto .boxfoto__form .form__input--font {
      font-size: 12px;
      letter-spacing: 0.8px; }
    #boxfoto .boxfoto__form .form__input--padding {
      padding: 4px 2vw 4px 2vw; }

#boxreseña {
  background-color: white;
  margin: 5vw 100px;
  display: flex;
  justify-content: center;
  gap: 5vw; }
  #boxreseña .huesped__box {
    border-right: 0.5px solid;
    border-color: #757575;
    margin-top: 30px; }
    #boxreseña .huesped__box .huesped__titulo {
      font-family: "EB Garamond", serif;
      letter-spacing: -0.03em;
      font-weight: 400;
      font-size: 45px;
      color: #333333;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 30px;
      text-align: right; }
    #boxreseña .huesped__box .huesped__parrafo {
      background-color: white;
      font-size: 16px;
      padding-left: 70px;
      padding-right: 30px;
      text-align: right; }
    #boxreseña .huesped__box .huesped__parrafo2 {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 20px;
      padding-bottom: 60px;
      text-align: right; }
  #boxreseña .huesped__img {
    opacity: 0.9;
    padding-top: 15px; }
  #boxreseña .nosotros__img {
    opacity: 0.9; }
  #boxreseña .nosotros__box {
    border-left: 0.5px solid;
    border-color: #757575; }
    #boxreseña .nosotros__box .nosotros__titulo {
      font-family: "EB Garamond", serif;
      letter-spacing: -0.03em;
      font-weight: 400;
      font-size: 45px;
      color: #333333;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      margin-top: 30px; }
    #boxreseña .nosotros__box .nosotros__parrafo {
      background-color: white;
      font-size: 16px;
      padding-left: 30px;
      padding-right: 40px;
      padding-bottom: 60px; }

@media screen and (max-width: 840px) {
  #boxfoto {
    display: flex;
    flex-direction: column; }
    #boxfoto .boxfoto__form {
      display: flex;
      flex-direction: column;
      width: 400px; }
      #boxfoto .boxfoto__form .form__input {
        width: 350px; }
    #boxfoto .boxfoto__img {
      height: 100%; }
  #boxreseña {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 5px; } }

@media screen and (max-width: 540px) {
  .intro__titulo {
    font-size: 14px; }
  #boxfoto {
    display: flex;
    flex-direction: column; }
    #boxfoto .boxfoto__form {
      display: flex;
      flex-direction: column;
      width: 160px; }
      #boxfoto .boxfoto__form .form__input {
        width: 150px; }
    #boxfoto .boxfoto__img {
      height: 100%; }
  #boxreseña {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 5px; }
    #boxreseña .huesped__box .huesped__titulo {
      font-size: 30px;
      padding-top: 20px; }
    #boxreseña .huesped__box .huesped__parrafo {
      font-size: 14px; }
    #boxreseña .huesped__box .huesped__parrafo2 {
      font-size: 12px;
      padding-bottom: 20px; }
    #boxreseña .nosotros__box .nosotros__titulo {
      font-size: 30px;
      padding-top: 0px; }
    #boxreseña .nosotros__box .nosotros__parrafo {
      font-size: 12px; } }

/* css de la página cabañas con bootstrap */
.cabaña__cards {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0px !important;
  align-items: center; }
  .cabaña__cards .card {
    border: none !important;
    padding-top: 30px; }
    .cabaña__cards .card .cabaña__titulo {
      font-family: "EB Garamond", serif !important;
      font-weight: 400 !important;
      font-size: 28px !important;
      color: #7f7a6c !important;
      letter-spacing: +0.01em !important;
      margin-bottom: 20px;
      margin-top: 20px; }

/*
font-style: italic !important;
            font-family: 'EB Garamond', serif !important;
            letter-spacing: +0.01em !important;
            font-size: 25px !important;
            font-weight: 100 !important;
            color: #757575 !important; */
/*css de la galería */
.galeria__grilla {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: 10vh 5vw 10vh 5vw;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px;
  grid-gap: 5px; }
  .galeria__grilla .figure__box:hover {
    transform: scale(1.1);
    transition: 2s; }
  .galeria__grilla .background, .galeria__grilla .galeria__box1, .galeria__grilla .galeria__box2, .galeria__grilla .galeria__box3, .galeria__grilla .galeria__box4, .galeria__grilla .galeria__box5, .galeria__grilla .galeria__box6, .galeria__grilla .galeria__box7, .galeria__grilla .galeria__box8, .galeria__grilla .galeria__box9, .galeria__grilla .galeria__box10, .galeria__grilla .galeria__box11, .galeria__grilla .galeria__box12, .galeria__grilla .galeria__box13, .galeria__grilla .galeria__box14, .galeria__grilla .galeria__box15, .galeria__grilla .galeria__box16, .galeria__grilla .galeria__box17, .galeria__grilla .galeria__box18, .galeria__grilla .galeria__box19, .galeria__grilla .galeria__box20 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }
  .galeria__grilla .galeria__box1 {
    background-image: url(../img/galeria/1.JPG);
    grid-column: 1;
    grid-row: 1; }
  .galeria__grilla .galeria__box2 {
    background-image: url(../img/galeria/2.JPG);
    grid-column: 2;
    grid-row: 1/3; }
  .galeria__grilla .galeria__box3 {
    background-image: url(../img/galeria/3.jpg);
    grid-column: 3;
    grid-row: 1; }
  .galeria__grilla .galeria__box4 {
    background-image: url(../img/galeria/4.jpg);
    grid-column: 4;
    grid-row: 1/3; }
  .galeria__grilla .galeria__box5 {
    background-image: url(../img/galeria/5.JPG);
    grid-column: 1;
    grid-row: 2; }
  .galeria__grilla .galeria__box6 {
    background-image: url(../img/galeria/6.jpg);
    grid-column: 3;
    grid-row: 2; }
  .galeria__grilla .galeria__box7 {
    background-image: url(../img/galeria/7.jpg);
    grid-column: 1/3;
    grid-row: 3/5; }
  .galeria__grilla .galeria__box8 {
    background-image: url(../img/galeria/8.jpg);
    grid-column: 3;
    grid-row: 3/5; }
  .galeria__grilla .galeria__box9 {
    background-image: url(../img/galeria/9.JPG);
    grid-column: 4;
    grid-row: 3; }
  .galeria__grilla .galeria__box10 {
    background-image: url(../img/galeria/10.JPG);
    grid-column: 4;
    grid-row: 4; }
  .galeria__grilla .galeria__box11 {
    background-image: url(../img/galeria/11.jpg);
    grid-column: 1;
    grid-row: 5; }
  .galeria__grilla .galeria__box12 {
    background-image: url(../img/galeria/12.jpg);
    grid-column: 2;
    grid-row: 5/7; }
  .galeria__grilla .galeria__box13 {
    background-image: url(../img/galeria/13.jpg);
    grid-column: 3/5;
    grid-row: 5/7; }
  .galeria__grilla .galeria__box14 {
    background-image: url(../img/galeria/14.jpg);
    grid-column: 1;
    grid-row: 6; }
  .galeria__grilla .galeria__box15 {
    background-image: url(../img/galeria/15.jpg);
    grid-column: 1;
    grid-row: 7/9; }
  .galeria__grilla .galeria__box16 {
    background-image: url(../img/galeria/16.JPG);
    grid-column: 2;
    grid-row: 7; }
  .galeria__grilla .galeria__box17 {
    background-image: url(../img/galeria/17.JPG);
    grid-column: 3;
    grid-row: 7/9; }
  .galeria__grilla .galeria__box18 {
    background-image: url(../img/galeria/18.jpg);
    grid-column: 4;
    grid-row: 7; }
  .galeria__grilla .galeria__box19 {
    background-image: url(../img/galeria/19.JPG);
    grid-column: 2;
    grid-row: 8; }
  .galeria__grilla .galeria__box20 {
    background-image: url(../img/galeria/20.JPG);
    grid-column: 4;
    grid-row: 8; }

@media screen and (max-width: 800px) {
  .galeria__grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-gap: 6px;
    margin-bottom: 10px; }
    .galeria__grilla .galeria__box1 {
      background-image: url(../img/galeria/1.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 1; }
    .galeria__grilla .galeria__box2 {
      background-image: url(../img/galeria/2.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 1/3; }
    .galeria__grilla .galeria__box3 {
      background-image: url(../img/galeria/3.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 2; }
    .galeria__grilla .galeria__box4 {
      background-image: url(../img/galeria/4.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 3/5; }
    .galeria__grilla .galeria__box5 {
      background-image: url(../img/galeria/5.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 3; }
    .galeria__grilla .galeria__box6 {
      background-image: url(../img/galeria/6.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 4; }
    .galeria__grilla .galeria__box7 {
      background-image: url(../img/galeria/7.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 5; }
    .galeria__grilla .galeria__box8 {
      background-image: url(../img/galeria/8.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 5/7; }
    .galeria__grilla .galeria__box9 {
      background-image: url(../img/galeria/9.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 6; }
    .galeria__grilla .galeria__box10 {
      background-image: url(../img/galeria/10.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 7; }
    .galeria__grilla .galeria__box11 {
      background-image: url(../img/galeria/11.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 7; }
    .galeria__grilla .galeria__box12 {
      background-image: url(../img/galeria/12.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 8/10; }
    .galeria__grilla .galeria__box13 {
      background-image: url(../img/galeria/13.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 8; }
    .galeria__grilla .galeria__box14 {
      background-image: url(../img/galeria/14.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 9; }
    .galeria__grilla .galeria__box15 {
      background-image: url(../img/galeria/15.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 10/12; }
    .galeria__grilla .galeria__box16 {
      background-image: url(../img/galeria/16.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 10; }
    .galeria__grilla .galeria__box17 {
      background-image: url(../img/galeria/17.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 11/13; }
    .galeria__grilla .galeria__box18 {
      background-image: url(../img/galeria/18.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 12; }
    .galeria__grilla .galeria__box19 {
      background-image: url(../img/galeria/19.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 13; }
    .galeria__grilla .galeria__box20 {
      background-image: url(../img/galeria/20.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 2;
      grid-row: 13; } }

@media screen and (max-width: 540px) {
  .galeria__grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-gap: 6px;
    margin-bottom: 10px; }
    .galeria__grilla .galeria__box1 {
      background-image: url(../img/galeria/1.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 1; }
    .galeria__grilla .galeria__box2 {
      background-image: url(../img/galeria/2.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 2/4; }
    .galeria__grilla .galeria__box3 {
      background-image: url(../img/galeria/3.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 4; }
    .galeria__grilla .galeria__box4 {
      background-image: url(../img/galeria/4.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 5/7; }
    .galeria__grilla .galeria__box5 {
      background-image: url(../img/galeria/5.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 7; }
    .galeria__grilla .galeria__box6 {
      background-image: url(../img/galeria/6.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 8; }
    .galeria__grilla .galeria__box7 {
      background-image: url(../img/galeria/7.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 9; }
    .galeria__grilla .galeria__box8 {
      background-image: url(../img/galeria/8.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 10/12; }
    .galeria__grilla .galeria__box9 {
      background-image: url(../img/galeria/9.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 12; }
    .galeria__grilla .galeria__box10 {
      background-image: url(../img/galeria/10.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 13; }
    .galeria__grilla .galeria__box11 {
      background-image: url(../img/galeria/11.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 14; }
    .galeria__grilla .galeria__box12 {
      background-image: url(../img/galeria/12.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 15/17; }
    .galeria__grilla .galeria__box13 {
      background-image: url(../img/galeria/13.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 17; }
    .galeria__grilla .galeria__box14 {
      background-image: url(../img/galeria/14.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 18; }
    .galeria__grilla .galeria__box15 {
      background-image: url(../img/galeria/15.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 19/21; }
    .galeria__grilla .galeria__box16 {
      background-image: url(../img/galeria/16.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 21; }
    .galeria__grilla .galeria__box17 {
      background-image: url(../img/galeria/17.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 22/24; }
    .galeria__grilla .galeria__box18 {
      background-image: url(../img/galeria/18.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 24; }
    .galeria__grilla .galeria__box19 {
      background-image: url(../img/galeria/19.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 25; }
    .galeria__grilla .galeria__box20 {
      background-image: url(../img/galeria/20.JPG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      grid-column: 1;
      grid-row: 26; } }

.servicios__cuerpo {
  margin: 50px 6.4vw 50px 6.4vw;
  font-size: 16px;
  color: #7f7a6c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .servicios__cuerpo .servicios__item {
    width: 40vw;
    padding: 20px 20px 20px 20px;
    text-align: center;
    display: block; }
    .servicios__cuerpo .servicios__item .item__titulo {
      font-family: "EB Garamond", serif;
      letter-spacing: -0.03em;
      font-weight: 400;
      font-size: 28px;
      color: #7f7a6c;
      padding-bottom: 5px;
      padding-top: 10px; }
    .servicios__cuerpo .servicios__item .item__descripcion {
      padding-bottom: 15px; }

@media screen and (max-width: 800px) {
  .servicios__cuerpo {
    font-size: 16px;
    color: #7f7a6c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px; }
    .servicios__cuerpo .servicios__item {
      margin: auto;
      width: 100%; }
      .servicios__cuerpo .servicios__item .item__titulo {
        font-size: 24px; }
      .servicios__cuerpo .servicios__item .item__descripcion {
        font-size: 14px; } }

@media screen and (max-width: 540px) {
  .servicios__cuerpo {
    font-size: 16px;
    color: #7f7a6c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px; }
    .servicios__cuerpo .servicios__item {
      margin: auto;
      width: 100%; }
      .servicios__cuerpo .servicios__item .item__titulo {
        font-size: 22px; }
      .servicios__cuerpo .servicios__item .item__descripcion {
        font-size: 12px; } }

#ubicacionycontacto {
  margin: 10vh 6.4vw 10vh 6.4vw; }
  #ubicacionycontacto .uyc__box__ubicacion {
    display: block;
    width: 500px;
    text-align: left;
    border-left: 0.5px solid;
    border-color: #7F7A6C;
    padding-left: 30px; }
  #ubicacionycontacto .uyc__box__contacto {
    display: block;
    width: 500px;
    text-align: left;
    padding-left: 30px; }
  #ubicacionycontacto .uyc__form {
    display: block; }
  #ubicacionycontacto .uyc__titulo {
    font-family: "EB Garamond", serif;
    letter-spacing: -0.03em;
    font-weight: 400;
    font-size: 45px;
    color: #333333;
    padding-bottom: 20px; }
  #ubicacionycontacto .uyc__subtitulo {
    letter-spacing: -0.03em;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    padding-bottom: 20px; }
  #ubicacionycontacto .form__nombre {
    width: 100%;
    margin-bottom: 8px;
    font-size: 12px; }
  #ubicacionycontacto .form__correo {
    width: 100%;
    margin-bottom: 8px;
    font-size: 12px; }
  #ubicacionycontacto .form__mensaje {
    width: 100%;
    margin-bottom: 8px;
    font-size: 12px; }
  #ubicacionycontacto .form__enviar {
    font-size: 16px;
    padding: 5px; }
  #ubicacionycontacto .uyc__img__ubicacion {
    width: 500px; }

@media screen and (max-width: 1152px) {
  .uyc__titulo--gap {
    margin-top: 30px; } }
