
/* secciones de intro para todas las páginas*/

.intro__titulo {
    letter-spacing: +0.04em;
    font-size: 22px;
    margin: 0vh 0vw 5vh 0vw;
    padding: 20vh 8vw; 
    text-align: center;
    background-color: #F7F4F3;
    opacity: 0.8; 
}

#intro__servicios {
    padding: 15vw 15vw;
    background-image: url(../img/fotolago4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100%;
    height: 100vh;
    opacity: 0.5;
}

#intro__cabañas {
    padding: 15vw 15vw;
    background-image: url(../img/fotolago1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 100vh;
    background-size: 100%;
    opacity: 0.5;
}

@media screen and (max-width: 800px) {

    #intro__cabañas {
        background-attachment: local;
        height: 50vh;
    }

    #intro__servicios {
        background-attachment: local;
        height: 50vh;
    }
}