

/* css de la página cabañas con bootstrap */

.cabaña__cards{
    margin-top: $ancho1*6;
    margin-bottom: $ancho1*6;
    padding: 0px !important;
    align-items: center;

    .card {
        border:none !important;
        padding-top: $ancho1*3;

        .cabaña__titulo {
            font-family: $title2-font !important;
            font-weight: $title2-font-weight !important;
            font-size: $title2-font-size !important;
            color: $title2-color !important;
            letter-spacing: +0.01em !important;
            margin-bottom: $ancho1*2;
            margin-top: $ancho1*2;
        }
    }
}

/*
font-style: italic !important;
            font-family: 'EB Garamond', serif !important;
            letter-spacing: +0.01em !important;
            font-size: 25px !important;
            font-weight: 100 !important;
            color: #757575 !important; */