

#boxfoto {
    @include flex-column;
    align-items: center;
    background-color: white;

    .boxfoto__img {
        height: 100vh;
    }

    .boxfoto__form {
        display: flex;
        justify-content: center;
        background-color: #333333;
        color: white;
        box-sizing: content-box;
        align-items: center;
        padding: 6px 30px 6px 30px;
        gap:$ancho1;

        .form__input {
            color:grey;
            font-size: 12px;
            width: 120px;
            border: none;
            padding: 8px 8px 8px 0px;
            font-weight: 300;
            background: none;
            border-bottom: 2px solid;
        }
        
        .form__input--black {
            color: #333333;
        }
        
        .form__input--font {
            font-size: 12px;
            letter-spacing: 0.8px;
        }
        
        .form__input--padding {
            padding: 4px 2vw 4px 2vw;
        }
    }
}

#boxreseña {
    background-color: white;
    margin: 5vw $ancho1*10;
    display: flex;
    justify-content: center;
    gap: 5vw;

    .huesped__box {
        border-right: 1.5px solid;
        border-color: #757575;
        margin-top: $ancho1*3;

        .huesped__titulo {
            font-family: $title-font;
            letter-spacing: $title-letter-spacing;
            font-weight: $title-font-weight;
            font-size: $title-font-size;
            color: $title-color;
            padding-left: $ancho1*3;
            padding-right: $ancho1*3;
            text-align: right;
            
        }
        .huesped__parrafo {
            background-color: white;
            font-size: 16px;
            padding-left: $ancho1*7;
            padding-right: $ancho1*3;
            text-align: right;
        }
        .huesped__parrafo2 {
            padding-left: $ancho1*3;
            padding-right: $ancho1*3;
            padding-top:$ancho1*2;
            padding-bottom: $ancho1*6;
            text-align: right;
        }
    }

    .huesped__img {
        opacity: 0.9;
        padding-top: 15px;
    }

    .nosotros__img {
        opacity: 0.9;
    }

    .nosotros__box {
        border-left: 1.5px solid;
        border-color: #757575; 

        .nosotros__titulo {
            font-family: $title-font;
            letter-spacing: $title-letter-spacing;
            font-weight: $title-font-weight;
            font-size: $title-font-size;
            color: $title-color;
            padding-left: $ancho1*3;
            padding-right: $ancho1*3;
            padding-top: $ancho1*3;
            margin-top: $ancho1*3;
        }
        .nosotros__parrafo {
            background-color: white;
            font-size: 16px;
            padding-left: $ancho1*3;
            padding-right: $ancho1*4;
            padding-bottom: $ancho1*6;
        }
    }
}

@media screen and (max-width: 800px) {

    #boxfoto {
        @include flex-column;

        .boxfoto__img {
            height: 450px;
        }
    }

    #boxreseña {
        @include flex-column;
        margin: auto;
        gap: 5px;
    }
}

@media screen and (max-width: 540px) {

    .intro__titulo {
        font-size: 14px;
    }

    #boxfoto {
        @include flex-column;

        .boxfoto__form {
            @include flex-column;
            width: $ancho1*16;

            .form__input {
                width: $ancho1*15;
            }
        }

        .boxfoto__img {
            height: $ancho1*20;
        }
    }

    #boxreseña {
        @include flex-column;
        margin: auto;
        gap: 5px;
    }
}