
#ubicacionycontacto {
    margin: 10vh 6.4vw 10vh 6.4vw;

    .uyc__box__ubicacion {
        display: block;
        width: 500px;
        text-align: left;
        border-left: 0.5px solid;
        border-color: #7F7A6C;
        padding-left: $ancho1*3;
    }

    .uyc__box__contacto {
        display: block;
        width: 500px;
        text-align: left;
        padding-left: $ancho1*3;
    }

    .uyc__form {
        display: block;
    }

    .uyc__titulo {
        font-family: $title-font;
        letter-spacing: $title-letter-spacing;
        font-weight: $title-font-weight;
        font-size: $title-font-size;
        color: $title-color;
        padding-bottom: $ancho1*2;
    }
    .uyc__subtitulo {
        letter-spacing: $sub-title-letter-spacing;
        font-weight: $sub-title-font-weight;
        font-size: $sub-title-font-size;
        color: $sub-title-color;
        padding-bottom: $ancho1*2;
    }

    .form__nombre {
        width: map-get($styleform,width);
        margin-bottom: map-get($styleform,space);
        font-size: map-get($styleform,size);
    }

    .form__correo {
        width: map-get($styleform,width);
        margin-bottom: map-get($styleform,space);
        font-size: map-get($styleform,size);
    }

    .form__mensaje {
        width: map-get($styleform,width);
        margin-bottom: map-get($styleform,space);
        font-size: map-get($styleform,size);
    }

    .form__input--black {
        color: #333333;
    }
    
    .form__input--font {
        font-size: 12px;
        letter-spacing: 0.8px;
    }
    
    .form__input--padding {
        padding: 4px 2vw 4px 2vw;
    }

    .uyc__img__ubicacion {
        width: $ancho1*50;
    }

    .form__resultado {
        margin-top: 10px; 
        font-size: 10px;
        color: #D72638;
    }
}

@media screen and (max-width: 1152px) {

    .uyc__titulo--gap {
        margin-top: 30px;
    }

}