
$title-font: 'EB Garamond', serif;
$title-letter-spacing: -0.03em;
$title-font-weight: 400;
$title-font-size: 45px;
$title-color: #333333;

$sub-title-letter-spacing: -0.03em;
$sub-title-font-weight: 400;
$sub-title-font-size: 16px;
$sub-title-color: #333333;

$title2-font: 'EB Garamond', serif;
$title2-letter-spacing: -0.03em;
$title2-font-weight: 400;
$title2-font-size: 28px;
$title2-color: #7f7a6c;

$ancho1: 10px;

$styleform: (
  width: 100%,
  space: 8px,
  size: 12px
);

@mixin flex-column{
	display:flex;
	flex-direction:column;
}


